doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/users.css')
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='/javascripts/users.js')
  body
    content.chat_room
      h1 Mypage
      p Wellcome !!!
      ul#messages
      form.m(action='')
        input#m(autocomplete='off')
        button Send
    script(id='chat', data-login_user_name = login_user_name, data-login_password = login_password)
    content.timeout_login
      h1 Login
      p タイムアウトしました。再度ログインしてください。
      form(method='POST', action='/login', class='login')
        input(type='text', name='user_name', placeholder='username', class='user_name')
        input(type='text', name='password', placeholder='password', class='password')
        input(type='submit', value='Login')
