doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/users.css')
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-1.11.1.js')
    script(src='/javascripts/users.js')
  body
    h1 Mypage
    p Wellcome !!!
    ul#messages
    form.m(action='')
      input#m(autocomplete='off')
      button Send
